[Unit]
Description=GnomePaper GUI Timer

[Timer]
OnCalendar=*-*-* *:00/30:00
Persistent=true
Unit=gnomepaper-gui.service

[Install]
WantedBy=timers.target